button{
    padding: 8px 34px;
    font-size: 1.5rem;
    font-style: italic;
    border-radius: 6px;
    border: none;
    /* background-color: chartreuse; */
}
button:hover{
    background-color: rgb(28, 29, 27);
    color: white;
    transition-duration: 0.5s;
    box-shadow: rgba(241, 239, 239, 0.24) 0px 3px 8px;
}